<title> {{post.title}} </title>
<body>
    <div class="header">
        {% load static %}
        <img src="{% static 'imgs/hh.jpg' %}">
        <h2 class="exit"><a href="/">Все статьи</a></h2>
        <style>
body {
    background-image: url({% static 'imgs/fon.jpg' %});
    font-family: Tahoma, Arial, sans-serif;
    color: white;
}
.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}
.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.post-title a {
    color: #ffffff;
}
.article-author {
    width: 50%;
    float: left;
}
.article-created-date {
    text-align: right;
}
.article {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.exit {
    float:left;
    width: 200px;
    text-align: right;
}
h1{
    width: 960px;
    text-align: right;
}
a{
    color:#BDB76B ;
}

</style>
    </div>
    <div class="article">
        <div class="one-post">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
        </div>
        <p class="article-text">{{ post.text }}</p>
    </div>
</body>
